select {
/*	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;*/
}

button, input, select {
  margin: 0;
  padding: 0;
  border: none;
  font: inherit;
  line-height: normal;
}

input.img-button {
	background-color: transparent;
	width: auto;
	height: auto;
	border: none;
	box-shadow: none;
	right: -3em;
	position: absolute;
	outline: none;
}
.img-document {
	height: 95vh;
}
.md-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
	top: 0;
	left: 0;
	z-index: 1;
	opacity: 0;
	background: rgba(0, 0, 0, 0.4);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.md-show ~ .md-overlay {
	opacity: 1;
	visibility: visible;
}
input, select {
	display: block;
	width: 100%;
	height: 38px;
	padding: 8px 12px;
	margin-bottom: 10px;
	font-size: 14px;
	color: rgb(85, 85, 85);
	vertical-align: middle;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	line-height: 1.428571429;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

form {
	background-color: white;
	max-width: 45em;
	padding: 1em 3em;
	border: 3px solid rgb(192, 57, 43);
}

.form-closure {
	background-color: white;
	width: 360px;
	padding: 1em 2em 0em;
	border: 2px solid red;
}

.form-closure .close-button {
	float: none;
	margin: 1em auto;
	display: block;
}
form h2 {
	width: auto;
}
.form-control {
	margin-top: 4em;
}

.close-button {
	float: right;
	background-color: rgb(52, 73, 94);

}
.submit-button {
}

.close-button, .submit-button {
	padding: 0.8em 1.7em;
	width: 170px;
	line-height: 20px;
}
.md-modal {
	top: 50%;
	left: 50%;
	display: none;
	position: fixed;
	max-width: 95%;
	max-height: 95%;
	z-index: 2000;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
.md-show {
	display: block;
}

.disclaimer img {
	margin-right: 0.4em;
}

.form-fail, .form-done {
	z-index: 10;
}
.popup-form {
	z-index: 5;
}

.form-incomplete {
	color: rgb(192, 57, 43);
	display: none;
}

.error-input {
	border: 2px solid rgb(192, 57, 43);
}

/* Effect 13: 3D slit */

.md-effect-13.md-modal {
	-webkit-perspective: 1300px;
	-moz-perspective: 1300px;
	perspective: 1300px;
}
.md-effect-13 .md-content {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: translateZ(-3000px) rotateY(90deg);
	-moz-transform: translateZ(-3000px) rotateY(90deg);
	-ms-transform: translateZ(-3000px) rotateY(90deg);
	transform: translateZ(-3000px) rotateY(90deg);
	opacity: 0;
}
.md-show.md-effect-13 .md-content {
	-webkit-animation: slit .7s forwards ease-out;
	-moz-animation: slit .7s forwards ease-out;
	animation: slit .7s forwards ease-out;
}
@-webkit-keyframes slit {
	50% {
		-webkit-transform: translateZ(-250px) rotateY(89deg);
		opacity: .5;
		-webkit-animation-timing-function: ease-out;
	}
	100% {
		-webkit-transform: translateZ(0) rotateY(0deg);
		opacity: 1;
	}
}
@-moz-keyframes slit {
	50% {
		-moz-transform: translateZ(-250px) rotateY(89deg);
		opacity: .5;
		-moz-animation-timing-function: ease-out;
	}
	100% {
		-moz-transform: translateZ(0) rotateY(0deg);
		opacity: 1;
	}
}
@keyframes slit {
	50% {
		transform: translateZ(-250px) rotateY(89deg);
		opacity: 1;
		animation-timing-function: ease-in;
	}
	100% {
		transform: translateZ(0) rotateY(0deg);
		opacity: 1;
	}
}
